
AdhesionTekPaintTool/AdhesionTekPaintTool/obj/x86/Debug/App.g.i.cs
AdhesionTekPaintTool/AdhesionTekPaintTool/obj/x86/Debug/MainPage.g.i.cs
AdhesionTekPaintTool/AdhesionTekPaintTool/obj/x86/Debug/XamlSaveStateFile.xml